{% extends "master_root.html" %}


{% block content %}

    {% autoescape off %}
        <div id="instructor_in">
            <h2>Courses you are teaching</h2>

            {% if as_instructor %}
                <ul>
                    {% for course in as_instructor  %}
                        <li>{{ course.name }}</li>
                    {% endfor %}
                </ul>
            {% else %}
               <p>You are not currently teaching any courses</p>
            {% endif %}
        </div>
        <div id="student_in">
            <h2>Courses you are enrolled in</h2>

            {% if as_student %}
                <ul>
                    {% for course in as_student  %}
                        <li class="{% cycle 'row_odd' 'row_even' %}">{{ course.name }}</li>
                    {% endfor %}
                </ul>
            {% else %}
               <p>You are not currently enrolled any courses</p>
            {% endif %}
        </div>
    {%  endautoescape %}

{% endblock %}
